<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{BASE}}/src/public/vendor/bootstrap/bootstrap.min.css">
    <title>
        {% block title %} 
        {% endblock %}
    </title>
</head>
<body>
    {% include 'Components/header.html' %}
        {% block body %}
    {% endblock %}
    <script src="{{BASE}}/src/public/vendor/popper/popper.min.js"> </script>
    <script src="{{BASE}}/src/public/vendor/bootstrap/bootstrap.bundle.min.js"> </script>
    <script src="{{BASE}}/src/public/vendor/jquery/jquery-3.6.0.min.js"> </script>
</body>
</html>